.searchfill{
    margin-top: 1%;
    margin-left: 35%;
    font-size: 20px;
}
.searchbutton{
    margin-left:1% ;
    margin-top: 2%;
    height:30px;
    width: 70px;
    background-color: maroon;
    color: white;
}
